
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal" 
    (click)="addClick()"
    data-backdrop="static" data-keyboard="false"
>
    Add ToDo
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add TODO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-todo [todo]="todo" *ngIf="ActivateAddComp"></app-add-todo>
        </div>
      </div>
    </div>
  </div>



  
<table class="table">
<thead class="thead-dark">
    <tr>
    <th scope="col">#</th>
    <th scope="col">Text</th>
    </tr>
</thead>
<tbody>

    <tr *ngFor="let todoItem of ToDoList">
    <th scope="row">{{todoItem.ID}}</th>
    <td>{{todoItem.text}}</td>
    </tr>
</tbody>
</table>